<!DOCTYPE html>
<html>
<head>

  <title>Login Page</title>
</head>
<body>
  <p>Please enter your login details below,</p>
  <form action="/login" method="POST" style="margin:10px;">
    <!-- <label for="userInfo">Please enter your login details below</label> -->
    <input id="email" type="email" name="email" placeholder="Enter email here" style="width:300px" display:"block">
    <input id="password" type="password" name="password" placeholder="Enter password here" style="width:300px">
    <input type="submit" value="Login">
  </form>

</body>
</html>