<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
  <p>REGISTER:</p>
  <form action="/register" method="POST" style="margin:10px;">
    <!-- <label for="userInfo">Please enter your details:</label> -->
    <input id="email" type="email" name="email" placeholder="Enter email here" style="width:300px" display:"block">
    <input id="password" type="password" name="password" placeholder="Enter password here" style="width:300px">
    <input type="submit" value="Submit">
  </form>
</html>