<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_headers') %>
  <ul>
  <% for(url in urls) { %>
    <li> <%= `${url}: ${urls[url]}` %> </li>
  <% } %>
  </ul>
  <p> <%- `<a href="">Press here to shorten URL</a>` %> </p>
  <pre><%#= JSON.stringify(urls[url]) %></pre>
</body>
</html>