<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include partials/_headers %>
  <p>ShortURL: <%=shortURL%></p>
  <form action="/<%= shortURL %>/update" method="POST" style="margin:10px;">
    <label for="editedLongURL">Update your URL:</label>
    <input id="editedLongURL" type="text" name="editedLongURL" placeholder="<%=urls[shortURL]["url"]%>" style="width:300px">
    <input type="submit" value="Update">
  </form>
  <P><a href="/urls">Press here to see all your URLs</a></P>
</body>
</html>