<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <%- include('partials/_headers') %>
  <p><%= `This is the shortened link ${shortURL}. This will take you to ${urls[shortURL]}` %></p>

</body>
</html>