<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include partials/_headers %>
  <p>ShortURL: <%=shortURL%></p>
  <form action="/<%= shortURL %>/update" method="POST" style="margin:50px;">
    <label for="editedLongURL">Update your URL:</label>
    <input id="editedLongURL" type="text" name="editedLongURL" placeholder="<%=urls[shortURL]%>" style="width:300px">
    <input type="submit" value="Update">
  </form>
</body>
</html>