<!DOCTYPE html>
<html>
<head>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  </style>
  <title>TinyApp</title>
</head>
<body>

  <% include partials/_headers %>

  <table style="width:75%">
    <tr>
      <th>Shortened URL</th>
      <th>Destination Address</th>
      <th>Change Address</th>
      <th>Remove Link</th>
    </tr>
    <tr>
    <% for(url in urls) { %>
    </tr>
    <td><%= url %></td>
    <td><%= urls[url] %></td>
    <td><a href="/urls/<%= url %>">Edit me</a></td>
    <td>
      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="Delete me">
      </form>
    </td>
    <tr>
    <% } %>
    </tr>
  </table>

  <p><a href="/urls/new">Press here to shorten URL</a></p>

</body>
</html>