<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include partials/_headers %>
  <p> Your shortened URL is <%= shortURL %>. This will take you to <a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a></p>
</body>
</html>