<header><h1>TinyApp</h1></header>



<%if (!user_id) {%>
<form action="/login" method="GET" style="margin:10px;">
  <input type="submit" value="Login">
</form>
<form action="/register" method="GET" style="margin:10px;">
  <input type="submit" value="Register">
</form>
<%} else {%>
<form action="/logout" method="POST" style="margin:10px;">
  <label for="username">Hello, <%=users["email"]%></label>
  <input type="submit" value="logout">
</form>
<%} %>


